body {
	font-family: sans-serif;
	/* text-align: center; */
  margin: 0;
  padding: 0;
	line-height: inherit;
}
/* *.{ */
  /* box-sizing: border-box; */
  /* border-width: 0; */
  /* border-style: solid; */
  /* border-color: #e5e7eb;} */
.rounding{
	border-radius: 0.5rem;
}
.hidden{
	visibility: hidden;
}
.machines{
		display: grid;
    //grid-template-columns: repeat(auto-fit,300px );
    /* grid-template-columns: repeat(auto-fit,30vw ); */
		grid-gap: 1.5rem;
		padding-left: 0px;
    justify-content: center;
}

@media (min-width: 1024px) {
    .machines {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .machines {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.machine{
	list-style: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	/* width: 30vw; */
	/* width: 100%; */
}

.machine_color_band{
	width:100%;
	height: 1rem;

border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.machine_mid{
	padding: 2rem;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	flex-direction: column;
}

.machine_mid_name{
  margin-top: 1.5rem;
	font-weight: 500;
	color: gray;

}
.machine_mid_state{
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 0.25rem;
	display: flex;
}

.machine_mid_state_holder{
	margin: 0;
}

.machine_mid_state_state{
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
	border-radius: 9999px;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.machine_mid_state_time{
	color: grey;
	font-size: 0.875rem;
	margin-top: 0.75rem;
	line-height: 1.25rem;

}



.machine_bottom_to_empty_form{
	width: 100%;
}
.machine_bottom_to_empty_div{
	display: flex;
	width: 100%;
	flex: 1 1 0%;
}
.machine_bottom_to_empty{
  flex: 1 1 0%;
	width:100%;
	display: inline-flex;
	margin-right: -1px;
	position: relative;
	text-transform:none;
	text-align: center;
	margin: 0;
	padding: 0;
	transform: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: transparent;
  border-width: 1px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}
.red {
	color: red;
}

.bg_red{
	background-color: red;
}

.bg_green{
	background-color: green;
}

.bg_orange{
	background-color: orange;
}

.green{
	color: green;
}

.transplink {
  text-decoration: none;
  color: black;
}

.grey{
	color: rgb(107 ,114 ,128);
}

.responsive-size{
    width: 100vw; /* Full width of the viewport */
    max-width: 70vw; /* Limit to 80% of the viewport width */
    /* background-color: lightblue; */
		/* Just for visibility */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
}
.centered{
	display: flex;
	justify-content:center;
}

.container{
	display: flex;
	align-times: flex-end;
	flex-wrap: wrap;
}
.heading {
	margin: 0;
	font-size: 24px;
	line-height: 1;
}

.last-activity {
    margin: 0; /* Removes default margin */
    font-size: 16px; /* Adjust as needed */
		padding-left: 10px;
    color: gray; /* Optional styling */
		display: flex;
		align-items: flex-end;

}

